@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
::-webkit-scrollbar { display: none; }
* {
  box-sizing: border-box;
  color: rgba(0,0,0,0.7);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5c9dd;
  font-family: 'Noto Sans KR', sans-serif;  
  flex-wrap: wrap;
  -ms-overflow-style: none;
}

.big-box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  min-height: 60vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  box-shadow: 0 20px 100px rgba(0,0,0,0.03), 0 20px 100px rgba(0,0,0,0.03);
  margin: 20px 60px;
  padding: 40px 30px;
}

.big-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 812px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  box-shadow: 0 20px 100px rgba(0,0,0,0.03), 0 20px 100px rgba(0,0,0,0.03);
  margin: 20px 30px;
  padding: 40px 30px;
}


.big-box1__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 315px;
  font-size: 18px;
  margin: 20px 30px;
}
.big-box2__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 315px;
  font-size: 18px;
  margin: 20px 30px;
}

.music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-info img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 2px 30px rgba(0,0,0,0.2), 0 0 40px rgba(0,0,0,0.2);
}
.music-info__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
}
.music-info__text h1 {
  font-weight: 700;
  font-size: 28px;
}
.music-info__text-genre {
  margin-top: 20px;
  font-size: 14px;
  color: #8e8e8e;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.action-btn span:nth-child(1) {
  background-color: rgba(0,0,0,0.7);
  width: 112px;
  height: 42px;
  color: white;
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 10px 40px rgba(0,0,0,0.05);
}
.action-btn__like {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 120px;
  height: 42px;
  color:  rgba(0,0,0,0.7);
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 10px 40px rgba(0,0,0,0.05);
}
.action-btn__like i {
  font-size: 18px;
}
.action-btn__like-amount {
  font-size: 16px;
  margin: 0 6px;
  color: #8e8e8e;
}

.music-list {
  overflow: scroll;
  width: 310px;
  height: 350px;
  -ms-overflow-style: none;
}
.music-list::-webkit-scrollbar{ 
  display:none; 
}
.music-list img {
  width: 52px;
  height: 52px;
  border-radius: 10px
}
.music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 24px;
  margin-bottom: 10px;
  padding: 12px 30px;
  opacity: 0.5;
}
.music i {
  color: #8e8e8e;
  font-size: 18px;
}
.music-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 210px;
  height: 52px;
  margin: 2px 20px;
}
.music-text span:nth-child(1) {
  margin-bottom: 8px;
}
.music-text__singer {
    color: #8e8e8e;
    font-size: 12px;
}
.music-text__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}
.select-music {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 24px;
  margin-bottom: 10px;
  padding: 12px 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 10px 40px rgba(0,0,0,0.05);
}
.select-music div:first-child {
  position:absolute;
  background-color: black;
  width: 52px;
  height: 52px;
  border-radius: 10px
}
.select-music img {
  opacity: 80%;
}
.select-music__icon {
  position: absolute;
  left: 45px;
}

.control-box1 {
  /* absolute로 지정한 element를 가운데 정렬하는 방법 */
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 90%;
  /* absolute로 지정한 element를 가운데 정렬하는 방법 */
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #454447;
  height: 75px;
  border-radius: 50px;
  box-shadow: 0 2px 30px rgba(0,0,0,0.2), 0 0 40px rgba(0,0,0,0.2);
}
.control-box1__left {
    margin-left: 14px;
}
.control-box1__left-musician {
  color: #8e8e8e;
  font-size: 14px;
}
.control-box1__left h1 {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}
.control-box1__right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 130px;
}
.control-box1__right i:nth-child(1), :nth-child(3) {
  color: white;
  font-size: 14px;
}
.control-box1__right i:nth-child(2) {
  color: white;
  font-size: 22px;
}

.selected-music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selected-music img {
  width: 275px;
  height: 275px;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(150, 154, 189, 0.5), 0 20px 50px rgba(150, 154, 189, 0.5);
  margin: 60px 0;
}

.selected-music__text h1 {
  font-weight: 700;
  font-size: 24px;
}
.selected-music__text span {
  font-weight: 700;
  margin: 20px 0;
  font-size: 14px;
  color: #8e8e8e;
  display: flex;
  justify-content: center;
}

.control-box2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 375px;
  height: 200px;
}
.control-box2__play-btn {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2), 0 5px 40px rgba(0,0,0,0.2);
}
.control-box2__play-btn i {
  font-size: 22px;
  color: white;
}
.control-box2__repeat-btn,
.control-box2__suffle-btn {
  font-size: 14px;
}
.control-box2__back-btn,
.control-box2__next-btn {
  font-size: 22px;
}


.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.control-bars__time {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 10px 0;
  font-size: 12px;
}
.control-bars__time span{
  color: #8e8e8e;
}

.control-bars {
  position: relative;
  display: flex;
  align-items: center;
}

.control-bars__played {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100px;
  height: 4px;
  border-radius: 5px;
}
.control-bars__pointer {
  position: absolute;
  left:32%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.control-bars__total {
  background-color: rgba(0,0,0,0.2);
  width: 300px;
  height: 4px;
  border-radius: 5px;
}